@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
    scroll-behavior: smooth;
}


/* ! THIS IS FOR THE BODY */
body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #bdcbde;
    color: #000000;
}


/* ! THIS IS FOR THE NAVIGATION BAR */
.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e6e6;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    margin: 1rem;
    height: 70px;
    top: 6px;
    overflow: hidden;
    z-index: 1000;
}


.navbar nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 4rem;
    padding: 1rem;
    animation: floatInUp 0.8s ease forwards;
}

.navbar nav li a {
    color: #000000;
    font-size: 1.25rem;
    letter-spacing: 1px;
    border-radius: 20px;
    padding: 10px 10px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.navbar nav li a:hover {
    padding: 14px 12px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.logo img {
    max-height: 235px;
    width: auto;
    display: block;
    animation: floatInUp 0.8s ease forwards;
}

.navbar .contacts a {
    background-color: #1270eb;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}

.navbar .contacts a:hover {
    padding: 14px 24px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    background-color: #215ba2;
    transform: scale(1.1);
}

/* ! THIS IS FOR ANIMATIONS */
@keyframes floatInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floatInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes floatInRight {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* ! THIS IS FOR THE ABOUT CONTAINER */
.about-container {
    width: 90%;
    margin: 0 auto;
    padding: 30px 10px;
    padding-bottom: 5rem;
}

.about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.about-image {
    flex: 0 0 auto;
    margin-left: 0;
    padding-right: 3rem;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.about-information {
    flex: auto;
    max-width: 700px;
}

.about-information h2 {
    display: flex;
    font-size: 3rem;
    margin: 1rem 0rem 2rem;
    color: #000000;
}

.about-information p {
    display: flex;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #000000;
}


.service-container {
    width: 90%;
    margin: 0 auto;
    padding: 30px 10px;
    padding-bottom: 6rem;
}

.service-about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.service-image {
    flex: 0 1 auto;
    margin-left: 0;
    padding-left: 3rem;
}

.service-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.service-information {
    flex: auto;
    max-width: 700px;
}

.service-information h2 {
    text-align: right;
    font-size: 3rem;
    margin: 1rem 0rem 2rem;
    color: #000000;
}

.service-information p {
    display: flex;
    text-align: right;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #000000;
}

/* ! THIS IS THE SECTIONS OF THE WEBSITE */
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 40px;
    padding: 1rem;
    text-decoration: underline;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    margin: 0 10px;
}

/* ! THIS IS THE HORIZONTAL LINE DESIGN */
hr {
    border: none;
    height: 1px;
    background: #444;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    margin: 40px 0;

}

/* ! THIS IS FOR THE PHOTO GALLERY DISPLAY */
.photo-galleries {
    display: flex;
    padding: 2rem;
    align-items: flex-start;
}

.slideshow {
    position: relative;
    max-width: 30rem;
    margin: 0 auto 0 0;
    padding-left: 8rem;
}

.slide {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 15px;
    height: 40rem;
}


.slide img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
    image-rendering: auto;
    height: 100%;
    width: 100%;
}

.slide-bar {
    display: flex;
    column-gap: 2rem;
    position: absolute;
    bottom: 1.25rem;
    left: 62%;
    transform: translateX(-50%);
    z-index: 1;
}

.slide-bar a {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #dedede;
    transition: 0.4s ease;
}

.slide-bar a:hover {
    background-color: #444;
    transform: scale(1.15);
}

footer {
    background-color: #dce3ec;
    height: 40vh;
}